<h4 class="text-center">Register</h4>
<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input #inputEmail formControlName="email" class="form-control" placeholder="email" autofocus>
        <ap-vmessage *ngIf="signupForm.get('email').errors" text="Email invalid">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="fullName" class="form-control" placeholder="full name">
        <ap-vmessage *ngIf="signupForm.get('fullName').errors" text="Full name invalid">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="userName" class="form-control" placeholder="user name">
        <ap-vmessage *ngIf="signupForm.get('userName').errors" text="User name invalid">
        </ap-vmessage>
        <ap-vmessage *ngIf="signupForm.get('userName').errors?.userNameTaken" text="User name already taken">
        </ap-vmessage>
        <small *ngIf="signupForm.get('userName').valid">User name available</small>
    </div>

    <div class="form-group">
        <input formControlName="password" type="password" class="form-control" placeholder="password">
        <ap-vmessage *ngIf="signupForm.get('password').errors" text="Password invalid">
        </ap-vmessage>
    </div>

    <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary btn-block">Register</button>

    <p>Already a user? <a [routerLink]="['']">Sign In!</a></p>
</form>
